body {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.top-white-bar {
    top: 0;
    left: 0;
}
bottom-white-bar {
    bottom: 0;
    left: 0;
}
.top-white-bar, .bottom-white-bar {
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 8000;
    background-color: #fff;
}
.bottom-white-bar {
    height: 40px;
    width: 100%;
    position: relative;
    z-index: 8000;
    background-color: #fff;
    margin-top: 232px;

}
.left-white-bar {
    top: 0;
    left: 0;
}
.right-white-bar {
    top: 0;
    right: 0;
}
.left-white-bar, .right-white-bar {
    width: 40px;
    height: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 8000;
    background-color: #fff;
}
.home{
    background-color: #151515;
    height: 636px;
   
}
.name{
    padding-top: 270px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 64px;
}
.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
}
 
.cd-primary-nav.is-visible {
  transform: translateY(0);
}
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  height: 80px;
  width: 100%;
  transition: background-color 0.3s;
}
 
.cd-header.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -80px;
  background-color: rgba(2, 23, 37, 0.96);
  transition: transform 0.3s;
}
 
.cd-header.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  transform: translate3d(0, 100%, 0);
}